.site-header {
	padding: 0;
	align-items: flex-start;
	background:$white;
	-webkit-flex-flow: row !important;
	.container-md-lg {
		padding: 0;
		-webkit-flex-flow: row;
	}
	.site-branding {
		justify-content: flex-start;
		padding: .89rem;

		.menu-bars {
			display:none;
		}
		@include breakpoint(laptop) {
			width:100%;

			.menu-bars {
				display: inline-flex;
				width:20%;
				margin-left: auto;
				text-decoration: none;
				font-size: 25px;
				margin-bottom: 2px;

				i {
					margin-left: auto;
				}
			}
		}
	}
	.nav-section {
		justify-content: flex-end;

		.top-bar {
			width:100%;
			text-align: right;

			.tel {
				vertical-align: middle;
				margin: 0 15px;
			}
		}
	}
}