.site-header {
	z-index:2;
	position:absolute;
	justify-content: space-between;

	.site-branding {
		width: 35%;

		.logo-anchor {
			width: 50%;
		}

		.menu-bars {
			display:none;
		}

		span {
			width:50%;
			&:after {
				content: "Careers";
			    height: 100%;
			    border-left: 1px solid;
			    margin-left: 3vw;
			    padding: 1vw 0 1vw 3vw;
			    font-size: 23px;
			    color: #990000;
			    text-transform: uppercase;
			    letter-spacing: 3px;
			    font-weight: lighter;
			}
		}
		@include breakpoint(laptop) {
			width:100%;

			.menu-bars {
				display: inline-flex;
				width:20%;
				text-decoration: none;
				font-size: 25px;
				margin-bottom: 2px;

				i {
					margin-left: auto;
				}
			}

			span, .logo-anchor {
				width:40%;
			}
		}
	}
}