.two-column-row {
    .item_1_2 {
        padding: $golden_ratio;
        h2 {
            position: relative;
            font-weight: 300;
            padding-bottom: 5px;
            &:after {
                content: "";
                width: 8vw;
                bottom: 0;
                left: 0;
                border-bottom: 3px solid #ff9933;
                position: absolute;
            }
        }
        h3 {
            &:after {
                display:none;
            }
        }
        .tab-section {
            .tab {
                overflow: hidden;
                border: none;
                background-color: transparent;
                button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: $golden_ratio;
                    transition: 0.3s;
                    border-radius: 0;
                    font-size: 1em;
                    &:hover {
                        background-color: #ddd;
                    }
                    &.active {
                        border: 1px solid $blue;
                        background-color: $blue;
                        color: #fff;
                    }
                }
            }
            .tabcontent {
                display: none;
                padding: 0;
                border: 1px solid $blue;
                margin-top: -1px;
                animation: fadeEffect 1s;
                p {
                    &:first-child {
                        margin: 0;
                    }
                }
                table {
                    padding: $golden_ratio;
                    margin-bottom: 0;
                }
                a {
                    color: $red;
                    text-decoration: none;
                    &:hover {
                        color: $blue;
                    }
                }
            }
            @keyframes fadeEffect {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
        &.testimonial {
            .review-content {
                font-size: 32px;
                font-weight: lighter;

                strong {
                    font-weight:300;
                    color:$red;
                }
            }
            .review-meta {
                margin-left: 4rem;
                margin-top: $golden_ratio;
                position: relative;
                padding: $half_gr;
                color: white;
                background: $red;

                .company {
                    font-style: italic;
                }
                &:before {
                    content: "\201C";
                    font-size: 235px;
                    position: absolute;
                    left: -5.5rem;
                    top: 0;
                    height: 77px;
                    line-height: .875;
                    color: $red;
                }
            }
        }
        @include breakpoint(tablet) {
            &.item_1_2 {
                width: 100%;
                padding: $golden_ratio 0;
                .tab {
                    button {
                        padding: 12px;
                    }
                }
                iframe {
                    margin: 1px auto;
                    position: relative;
                    display: block;
                    width: calc(100% - 3px);
                }
            }
        }
        @include breakpoint(phablet) {
            table,
            tbody,
            tr,
            td {
                display: block;
            }
            td {
                margin: $half_gr 0;
            }
        }
    }
}