.content_image_module {
    .container {
        padding-top: 0;
        padding-bottom: 0;
        align-items: center;
        &.white {
            background-color: #fff;
        }
        .half {
            width: 50%;
            padding: 1.618rem;
            h2 {
                @include section-heading($blue, left);
                text-transform: none;
                font-weight:300;
            }
            h4 {
                font-size: 25px;
            }
            ul,
            li {
                margin-left: 0;
            }
            ul {
                margin-bottom: 1em;
                li {
                    list-style: circle;
                }
            }
            a {
                font-weight: bold;
                text-decoration: none;
                &.button {
                    display: block;
                    text-align: center;
                    font-weight: 400;
                    background: $blue;
                    color: white;
                    @include ease();
                    border-radius: 0;
                    box-shadow: none;
                    &:hover {
                        background: #fff;
                        color: $blue;
                        @include ease();
                    }
                }
            }
            &.image_half {
                padding: 0;
                line-height: 0;
                @include breakpoint(tablet) {
                    width: 50%;
                    &.bottom {
                        margin-bottom: 1.618rem;
                    }
                    &.top {
                        margin-top: 1.618rem;
                    }
                }
                @include breakpoint(tablet) {
                    width: 80%;
                }
            }
            @include breakpoint(tablet) {
                width: 100%;
                &.content-bottom {
                    padding-top: 0;
                }
            }
        }
    }
    &.blue {
        background-color: $blue;
        color: white;
        h2,
        a,
        li {
            color: white !important;
        }
    }
    &.light_gray {
        border-top: 2px solid #cccccc;
        border-bottom: 2px solid #cccccc;
        background-color: #ececec;
    }
}