.counter_row {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        @include section-heading($gunmetal, center);
    }
    .container-fw {
        position: relative;
    }
    .content {
        width:100%;
        text-align: center;
        position: relative;
        margin-top: $golden-ratio;

        &:before {
            content: "";
            width: 200px;
            position: absolute;
            border-top: 5px solid;
            left: 50%;
            margin-left: -100px;
        }
    }
    .num {
        .figure {
            text-align: center;
            max-width: 160px;
            margin: 0 $half-gr;
            figure {
                font-size: 65px;
                margin-bottom: .5rem;
                color: $blue;
                line-height: 39px;
                margin-top: 0;
                @include inline(middle);
                @include breakpoint(phablet) {
                    font-size: 60px;
                }
            }
            span {
                @include inline(middle);
                font-size: 65px;
                margin-bottom: .5rem;
                color: $blue;
                line-height: 39px;
                margin-top: 0;
            }
            .fig_cont {
                h3 {
                    color: $gunmetal;
                    text-transform: uppercase;
                    font-size: $golden-ratio;
                    font-weight: lighter;
                    margin-bottom: $half-gr;
                    border-bottom:none;

                    &:after {
                        display:none;
                    }
                }
                small {
                    text-align: center;
                    padding: .5rem 0;
                    margin-top: .5rem;
                    color: $gunmetal;
                    display: block;
                }
            }
            @include breakpoint(phablet) {
                width:100%;
                max-width:100%;
            }
        }
        .block {
            width: 100%;
            text-align: center;
            padding: .89rem;
            margin: 1.618rem 0;
        }
    }
    &.white {
        padding:$golden-ratio $half-gr;
        h2 {
            @include section-heading($white, center);
        }
        .num {
            .figure {
                figure {
                    color: $white;
                }
                span {
                    color: $white;
                }
                .fig_cont {
                    h3 {
                        color: $white;
                    }
                    small {
                        color: $white;
                    }
                }
            }
            .block {
                color:$white;
            }
        }
        .content {
            color:$white;
        }
    }
}