.form-section {
    h4 {
        color:#333333;
        text-align: center;
        position: relative;
        margin-top: 1.618rem;
        margin-bottom: 1.618rem;
        padding-bottom: .89rem;
        font-size: 25px;

        &:after {
            width: 8vw;
            margin-left: -4vw;
            bottom: 0;
        }
    }
}