.review-feed {
    >.container {
        justify-content: left;
        flex-direction: row-reverse;
        -webkit-flex-flow: row-reverse wrap;
        h2 {
            @include section-heading($red, center)
        }
        .review {
            padding: $golden-ratio;
            .review-content {
                padding: $half-gr $golden-ratio;
                border: 2px dotted $gold;
                margin-bottom: 3.236rem;
                position: relative;
                @include ease();
                &:after {
                    content: "";
                    position: absolute;
                    width: 45px;
                    height: 45px;
                    background-color: $white;
                    border-bottom: 2px dotted $gold;
                    bottom: -24px;
                    right: 27px;
                    transform: rotate(-45deg);
                }
            }
            .reviewer-meta {
                float: left;
                width: 60%;
                h3 {
                    margin: 0;
                    font-weight: 400;
                    color: $gunmetal;
                    font-size: 13px;
                    padding-bottom:0;
                    text-transform: uppercase;
                    &:after  {
                        display:none;
                    }
                }
                >div {
                    &.title {
                        font-size: 13px;
                        font-style: italic;
                        color: $gold;
                        padding: 8px 0;
                        margin-bottom: 8px;
                        border-bottom: 1px solid $gold;
                    }
                    &.company {
                        font-size: 11px;
                    }
                }
            }
            .review-author {
                margin-bottom: $golden-ratio;
                width: 40%;
                float: left;
                padding: 0 $half-gr 0 0;
                img {
                    max-width: 100%;
                    @include ease();
                }
            }
            &:hover {
                .review-content {
                    color:$blue;
                    &:after {
                        animation-name: open;
                        animation-duration: 6000s;
                    }
                }
                .review-author {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            @include breakpoint(phablet) {
                justify-content: center;
                .reviewer-meta {
                    margin-left: 0;
                    text-align: center;
                }
            }
        }
        .button {
            margin: 0 auto;
        }
    }
}

@keyframes open {
    0% {bottom: -24px; transform:rotate(-45deg);}
    .01% {bottom: -32px; transform:rotate(-62deg);}
    100% {bottom: -32px; transform:rotate(-62deg);}
}