a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	&.tel {
		text-decoration: none;
		color: $red;
		vertical-align: middle;
	}
	&.button {
		display: inline-block;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		position:relative;
		vertical-align:middle;
		letter-spacing: 1px;

		&.red {
			background:$red;
			padding: 10px 20px 8px;
			line-height: 1.3rem;
		}
		&.blue {
			background:$blue;
			padding: $half-gr $golden_ratio;
			line-height: 1.3rem;
		}
		&:hover {
			animation-name: pulse_animation;
			animation-duration: 700ms;
			transform-origin:70% 70%;
			animation-iteration-count: 1;
			animation-timing-function: linear;
		}
	}
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1.05); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1.1); }
	60% { transform: scale(1.08); }
	70% { transform: scale(1.05); }
	100% { transform: scale(1); }
}